<section class="advantages" id="advantages">
    <div class="design">
        <div class="design__video"  alt="">
            <img src="../images/advantages.png" alt="">
        </div>
        <div class="container design__container">
            <div class="design__info">
                <h2 class="advantages__headline">преимущества</h2>
                <div class="advantages__features-wraps">
                    <div class="advantages__features-wrap">
                        <h3 class="h3 advantages__features-title">Дизайн</h3>
                        <div class="advantages__features-description">
                            Внешний вид скутера дышит
                            идеями футуризма:
                        </div>
                        <ul class="advantages__features">
                            <li class="advantages__feature">плавные линии</li>
                            <li class="advantages__feature">подсветка светодиодными
                                индикаторами</li>
                            <li class="advantages__feature">рельефные бамперы,
                                оснащенные защитными
                                панелями</li>
                        </ul>
                    </div>
                    <div class="advantages__features-wrap wrap2">
                      <div class="advantages__before-slides">
                          <h3 class="h3 advantages__features-title">цвет</h3>
                          <div class="advantages__features-description">
                              Модель представлена сразу
                              в нескольких цветах.
                          </div>
                      </div>
                        <div class="advantages__slides">
                            <div class="advantages__slide slide1">
                                <img src="../images/hover_yellow.png" alt="">
                            </div>
                            <div class="advantages__slide slide2">
                                <img src="../images/hover_blue.png" alt="">
                            </div>
                            <div class="advantages__slide slide3">
                                <img src="../images/hover_red.png" alt="">
                            </div>
                            <div class="advantages__slide slide4">
                                <img src="../images/hover_gray.png" alt="">
                            </div>
                            <div class="advantages__slide slide5">
                                <img src="../images/hover_black.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about modes" id="characteristics">
        <div class="about__video"  alt="">
            <img src="../images/modes.png" alt="">
            <div class="about__play modes__play">
                <div class="about__play-note modes__play-note">Смотреть видео</div>
                <img src="../images/button_play.png" alt="" class="about__play-img">
            </div>
        </div>
        <div class="container modes__container">
            <div class="modes__info">
                <div class="advantages__features-wrap">
                    <h3 class="h3 advantages__features-title">Режимы</h3>
                    <div class="advantages__features-description modes__features-description">
                        Помимо "умной" подсветки, <span class="bold">Hovertrax 4.0</span>
                        снабжён двумя скоростными режимами.
                    </div>
                    <ul class="advantages__features modes__features">
                        <li class="advantages__feature modes__feature">Один для продвинутых пользователей</li>
                        <li class="advantages__feature modes__feature">Второй для новичков</li>
                    </ul>
                    <ul class="advantages__params">
                        <li class="advantages__param">
                            <div class="advantages__param-title">13<span class="small">км/ч</span></div>
                            <div class="advantages__param-desc">Максимальная скорость</div>
                        </li>
                        <li class="advantages__param">
                            <div class="advantages__param-title">2</div>
                            <div class="advantages__param-desc">Скоростных режима</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>