.advantages {
  min-height: 769px;
  background-image: url(../images/rizor_wide_bg.png);
  background-repeat: no-repeat;
  margin-bottom: 85px;

  &__headline {
    color: #3a30f8;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    margin-bottom: 86px;

    @media(max-width: 992px) {
      margin-bottom: 50px;
    }
    @media(max-width: 375px) {
      margin-bottom: 30px;
    }
  }

  &__features {
    &-wraps {
      display: flex;

      @media(max-width: 768px) {
        flex-direction: column;
      }
    }

    &-description {
      max-width: 250px;
      color: #000;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.7;
      margin-bottom: 20px;

      @media(max-width: 768px) {
        margin-bottom: 16px;
        font-size: 16px;
        max-width: unset;
      }
    }
  }

  &__feature {
    max-width: 275px;
    position: relative;
    padding-left: 44px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7;
    margin-bottom: 20px;

    @media(max-width: 768px) {
      max-width: unset;
      font-size: 16px;
      padding-left: 30px;
      margin-bottom: 16px;
    }
    
    &:before {
      content: '';
      background-image: url(../images/li.png);
      width: 30px;
      height: 5px;
      position: absolute;
      left: 0;
      top: 14px;
      margin-right: 25px;

      @media(max-width: 768px) {
        top: 12px;
        width: 20px;
        height: 3px;
      }
    }
  }

  &__before-slides {
    margin-left: 103px;

    @media(max-width: 400px) {
      margin-left: 0;
    }
  }

  &__slides {
    max-width: 375px;
    width: 100%;
    margin-top: 106px;

    @media(max-width: 400px) {
      max-width: 280px;
      margin-top: 75px;
    }

    .slick-dots {
      bottom: 110%;
      right: 4px;
      width: auto;

      li {
        margin: 0 16px;

        @media(max-width: 400px) {
          margin: 0 10px;
        }

        button {
          position: relative;

          &:after {
            display: none;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -55px;
            width: 3px;
            height: 48px;
            content: '';
            background-image: url(../images/sliderdots_arrow.png);
            background-repeat: no-repeat;
          }
        }

        &:nth-child(1) {
          button {
            background: #e2e837;
            border-radius: 50%;
          }
        }

        &:nth-child(2) {
          button {
            background: #00b6f1;
            border-radius: 50%;
          }
        }

        &:nth-child(3) {
          button {
            background: #e23232;
            border-radius: 50%;
          }
        }

        &:nth-child(4) {
          button {
            background: #f0efef;
            border-radius: 50%;
          }
        }

        &:nth-child(5) {
          button {
            background: #000;
            border-radius: 50%;
          }
        }

        &.slick-active {
          button {
            &:after {
              display: block;
            }
          }
        }
      }

    }
  }

  &__slide {
    &-image {
      width: 300px;
    }
  }

  &__params {
    display: flex;

    @media(max-width: 640px) {
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__param {
    margin-right: 66px;

    @media(max-width: 640px) {
      margin: 0 10px 20px;
    }


    &-title {
      font-family: 'Rubik Mono One', sans-serif;
      font-size: 60px;
      color: #3a30f8;
      letter-spacing: -5px;
      margin-bottom: 12px;

      @media(max-width: 768px) {
        font-size: 48px;
        margin-bottom: 8px;
      }

    }
    &-desc {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 300;
      padding-left: 5px;
      max-width: 120px;
      line-height: 1.5;
    }
  }
}

.design {
  position: relative;
  min-height: 750px;
  padding-top: 103px;
  margin-bottom: 206px;

  @media(max-width: 1850px) {
    padding-top: 100px;
    margin-bottom: 100px;
  }

  &__container {
    display: flex;
  }

  &__video {
    position: absolute;
    left: 0;
    top: 103px;

    @media(max-width: 1850px) {
      position: relative;
      margin-bottom: 50px;
      top: 0;
    }
  }


  &__info {
    position: relative;
    margin-left: 468px;
    margin-top: 96px;

    @media(max-width: 1850px) {
      margin-left: 0;
      margin-top: 0;
    }
  }

}

.wrap1 {
  @media(max-width: 768px) {
    margin-left: 100px;
    margin-bottom: 50px;
  }
  @media(max-width: 400px) {
    margin-left: 0;
  }
}

.wrap2 {
  margin-left: 53px;
  margin-top: 264px;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    background-image: url(../images/slides_arrow.png);
    width: 18px;
    height: 290px;
    left: 51px;
    top: 16px;

    @media(max-width: 768px) {
      display: none;
    }
  }

  @media(max-width: 1850px) {
    margin-top: 0;
  }
  @media(max-width: 768px) {
    margin-left: 0;
  }
  @media(max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.modes {

  &__play {
    left: -57px;
    bottom: 75px;
    top: unset;

    @media(max-width: 576px) {
      bottom: unset;
      left: -30px;
      top: 72px;
    }
    @media(max-width: 480px) {
      left: -15px;
    }
    @media(max-width: 400px) {
      display: none;
    }

    &-note {
      &:before {
        position: absolute;
        left: 252px;
        top: -305px;
        content: '';
        background-image: url(../images/modes_arrow.png);
        width: 156px;
        height: 474px;

        @media(max-width: 1850px) {
          display: none;
        }
      }
    }
  }

  &__container {
    position: relative;

    @media(max-width: 1850px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    @media(max-width: 1360px) {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  &__info {
    padding-top: 119px;

    @media(max-width: 1850px) {
      padding-top: 0;
    }
  }

  &__features {
    margin-bottom: 75px;

    @media(max-width: 768px) {
      margin-bottom: 50px;
    }

    &-description {
      max-width: 350px;
      margin-bottom: 20px;

      @media(max-width: 768px) {
        max-width: unset;
      }
    }
  }

  &__feature {
    max-width: 380px;
  }
}