<section class="for-whom track" id="for-whom">
    <div class="container inner-container for-whom__container">
        <div class="for-whom__video"  alt="">
            <img src="../images/children.png" alt="">
        </div>
        <div class="for-whom__info">
            <h3 class="for-whom__headline">Для кого</h3>
            <div class="for-whom__description">
                <p class="for-whom__description-block">При максимально выдерживаемой нагрузке в <span class="bold">100 кг</span> отлично подойдет,
                как для подрастающего поколения, так для более взрослых "наездников".</p>
                <p class="for-whom__description-block">Это единственный гироскутер со специальным детским режимом езды.</p>
            </div>
            <a href="#" class="the-button for-whom__button">Перейти в каталог</a>
        </div>
    </div>
</section>