<div class="vertical-nav">
    <a href="#main" class="vertical-nav__link vert-active"></a>
    <a href="#advantages" class="vertical-nav__link"></a>
    <a href="#characteristics" class="vertical-nav__link"></a>
    <a href="#for-whom" class="vertical-nav__link"></a>
</div>