.main-header_sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 500;

  @media(max-width: 1920px) {
    padding: 20px 0;
  }

  @media(max-width: 1400px) {
    padding: 10px 0;
  }
}
