.about {
  height: 878px;
  background-image: url(../images/gear_wide_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  @media(max-width: 1850px) {
    height: auto;
  }


  &__video {
    position: absolute;
    top: 31px;
    right: calc((1200px - 1920px) / 2);

    @media(max-width: 1850px) {
      position: relative;
      right: 0;
      top: 0;
      padding-top: 50px;
      margin-bottom: 50px;
    }

    @media(max-width: 1240px) {
      max-width: 1076px;
      width: 100%;
    }
    @media(max-width: 640px) {
      margin-bottom: 30px;
    }
  }

  &__play {
    position: absolute;
    top: 72px;
    left: -68px;
    display: flex;
    transition: 0.3s;

    @media(max-width: 576px) {
      left: -30px;
    }
    @media(max-width: 480px) {
      left: -15px;
    }
    @media(max-width: 400px) {
      display: none;
    }

    &-note {
      max-width: 80px;
      color: #000;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      transform: rotate(-90deg);
      margin-right: -52px;
      padding-left: 10px;
      line-height: 1.2;
      position: relative;

      @media(max-width: 576px) {
        display: none;
      }

        &:before {
        position: absolute;
        left: -45px;
        top: -37px;
        content: '';
        background-image: url(../images/play_arrow.png);
        width: 18px;
        height: 72px;
        transform: rotate(90deg);

        @media(max-width: 1850px) {
          display: none;
        }
      }
    }
  }

  &__container {
    position: relative;
  }

  &__info {
    padding-top: 214px;
    margin-left: -7px;
    position: relative;

    @media(max-width: 1850px) {
      margin-left: 0;
      padding-top: 0;
    }

    &:after {
      content: '';
      background-image: url(../images/arrow_down.png);
      width: 11px;
      height: 95px;
      position: absolute;
      left: 36px;
      bottom: -129px;

      @media(max-width: 1850px) {
        display: none;
      }
    }

    &-headline {
      color: #000;
      max-width: 601px;

      @media(max-width: 992px) {
        max-width: 500px;
      }
      @media(max-width: 576px) {
        letter-spacing: 1px;
      }

      &_thin {
        letter-spacing: -12px;

        @media(max-width: 576px) {
          letter-spacing: -5px;
        }
      }
    }

    &-description {
      max-width: 340px;
      color: #000;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
      text-transform: uppercase;
      letter-spacing: 1.6px;
      margin-left: 6px;

      @media(max-width: 1850px) {
        max-width: unset;
      }
      @media(max-width: 992px) {
        font-size: 18px;
      }
      @media(max-width: 768px) {
        font-size: 16px;
      }

    }
  }
}