<!DOCTYPE html>
<html lang="ru">
<head>
    <title>RIzor Hovertrax 4.0 - маневренность, легкость, экологичность</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css">
    <script defer="defer" src="../js/bundle.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <main class="main">
        {% include "components/main-header/main-header.njk" %}
        {% include "components/about/about.njk" %}
        {% include "components/advantages/advantages.njk" %}
        {% include "components/for-whom/for-whom.njk" %}
    </main>
</body>
</html>