<!DOCTYPE html>
<html lang="ru">
<head>
    <title>RIzor Hovertrax 4.0 - маневренность, легкость, экологичность</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css">
    <script defer="defer" src="./js/bundle.js"></script>
</head>
<body>
    <main class="main"  id="main-header">
        {% include "components/main-header/main-header.njk" %}
        {% include "components/vertical-nav/vertical-nav.njk" %}
        {% include "components/about/about.njk" %}
        {% include "components/advantages/advantages.njk" %}
        {% include "components/for-whom/for-whom.njk" %}
        {% include "components/main-footer/main-footer.njk" %}
    </main>
</body>
</html>
