* {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}

::placeholder {
  font-size: 16px;
  color: #23292e;
  letter-spacing: 0.32px;

  @media(max-width: 375px){
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

input{
  border: 0;
  outline: 0;
}

html,
body {
  min-height: 100%;
}

html {
  font: 300 18px/1 'Roboto', sans-serif;
  color: #000;
}

body{
  margin: 0;
  padding: 0;
  color: #000;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

hr {
  border-top: 0;
  border-color: #8c8c8c;
}

a {
  color: #00a2ff;;
  cursor: default;
}

a[href] {
  cursor: pointer;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

textarea {
  resize: none;
}

address {
  font-style: normal;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  transition: $delay;
}

.main {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}


h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 6.4px;
  line-height: 1.2;
  margin-bottom: 19px;

  @media(max-width: 1360px) {
    font-size: 60px;
  }
  @media(max-width: 992px) {
    font-size: 48px;
  }
  @media(max-width: 768px) {
    font-size: 36px;
  }
  @media(max-width: 576px) {
    font-size: 24px;
  }
}

.h3{
  color: #000;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 3.2px;
  margin-bottom: 26px;

  @media(max-width: 992px) {
    font-size: 36px;
  }
  @media(max-width: 768px) {
    font-size: 30px;
  }
  @media(max-width: 576px) {
    font-size: 24px;
  }
}

.bold {
  font-weight: 700;
}

.small {
  font-size: 24px;
  padding-left: 7px;
  letter-spacing: -1px;
}

.video1 {
  width: 1076px;
  height: 750px;
  object-fit: inherit;

  @media(max-width: 1240px) {
    width: 100%;
    height: auto;
    max-height: 100%;
  }

  &__play {
    z-index: 50;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.video2 {
  width: 745px;
  height: 750px;
  object-fit: inherit;

  @media(max-width: 1240px) {
    width: 100%;
    height: auto;
    max-height: 100%;
  }

  &__play {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 400px) {
      display: none;
    }
  }
}

.video3 {
  width: 1071px;
  height: 750px;
  object-fit: inherit;

  @media(max-width: 1240px) {
    width: 100%;
    height: auto;
    max-height: 100%;
  }

  &__play {
    z-index: 50;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
