<header class="main-header">
    <div class="container main-header__container">
        <a href="#main-header" class="main-header__logo-link">
            <img src="./images/logo.png" alt="" class="main-header__logo">
        </a>

        <div class="main-header__nav">
            <a href="#main-header" class="main-header__nav-link" style="display: none">Главная</a>
            <a href="#advantages" class="main-header__nav-link">Преимущества</a>
            <a href="#characteristics" class="main-header__nav-link">Характеристики</a>
            <a href="#for-whom" class="main-header__nav-link">Для кого</a>
        </div>
    </div>
</header>
